<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>siorg</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>afterwork</param-value>
	</context-param>

	<servlet>
		<servlet-name>jersey-serlvet</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>br.gov.resource</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jersey-serlvet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>search.xhtml</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>LoginPageFilter</filter-name>
		<filter-class>br.gov.filter.LoginPageFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginPageFilter</filter-name>
		<url-pattern>/login.xhtml</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>/login.xhtml</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<display-name>adm</display-name>
		<web-resource-collection>
			<web-resource-name>Admin Area</web-resource-name>
			<description></description>
			<url-pattern>/adm/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>adm</description>
			<role-name>adm</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>SIORG_Realm</realm-name>
		<form-login-config>
			<form-login-page>/login.xhtml</form-login-page>
			<form-error-page>/login.xhtml</form-error-page>
		</form-login-config>
	</login-config>
	<security-role>
		<role-name>adm</role-name>
	</security-role>
	<error-page>
		<error-code>403</error-code>
		<location>/acessoNegado.xhtml</location>
	</error-page>
	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/login.xhtml</location>
	</error-page>
	<context-param>
		<param-name>com.sun.faces.enableRestoreView11Compatibility</param-name>
		<param-value>true</param-value>
	</context-param>
	
</web-app>